@charset 'utf-8';

*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 3000px;
}
nav{
    width: 100px;
    float: left;
    margin-left: 100px;
    position: fixed;
}
nav > table{
    border-collapse: collapse;
}
td{
    border:1px solid black;
    font-size: 0px;
}
td img{
    width: 60px;
    padding:10px;
}
section{
    width: 1200px;
    margin-left: 400px;

}
article{
    width: 100%;
    clear: both;
    margin-top: 20px;
}
.thumnail{
    width: 100%;
    overflow-x: scroll;
    /* x축으로 스크롤 만들겠다. */
    white-space: nowrap ;
    /* 엔터처리 안하겠다.일자로 만들겠다. */
    text-overflow: clip;
    /* 글자로 처리, 잘려진 부분을 숨길건지 자를건지, 클립은 자르겠단소리 */

}
.item{
    width: 200px;
    height: 200px;
    display: inline-block;
    /* 글자로 취급하기에 인라인블록처리 해줌 */
    margin-left: 30px;
    position: relative;
}
.item > img{
    width: 200px;
    height: 200px;
}
.item_bar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.514);
    color: black;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding: 10px 0px;
}